
@{
    ViewData["Title"] = "Add Film";
}

@model FilmCollection.Models.ApplicationResponse

<h1 class="display-4">@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Category">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year:</label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating"></label>
        <select asp-for="Rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select><br />

        <label asp-for="Edited"></label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="LentTo">Lent to:</label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" /><br /><br />

        <button type="submit">Confirm</button>
    </form>
</div>

@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]");
    </script>
}
