@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <br />
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <img src="~/img/joel.jpg" />
</div>
