@{
    ViewData["Title"] = "My Podcasts";
}


<div class="text-center">
    <br />
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Link to the <a href="https://baconsale.com/">Baconsale site</a>.</p>
</div>


